@use "variables" as *;
@use "reset";

html {
  font-size: $font-size;
}

body {
  font-family: $font-family;
  //background-color: $background-color;
  background: linear-gradient(135deg, $background-color, $background-color-tertiary);
  //background: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
  color: $font-color;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
h5 {
  font-size: 1rem;
  font-weight: bold;
}
h6 {
  font-size: 0.8rem;
  font-weight: bold;
}


em {
  font-style: italic;
}