@use '../variables.scss' as *;

.containerPokedex {

    max-width: 1300px;
    margin: 0 auto;
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        h1 {
            font-size: 2.5rem;
            color: $font-color;
        }
    }
    .search {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        .searchPokemon {
            padding: 0.8rem 5rem;
            margin: 1.2rem;
            border: none;
            border-bottom: 1px solid $font-color;
            width: 100%;
            box-sizing: border-box;
            transition: border-bottom 0.3s ease;
            &::placeholder {
                color: $font-color;
                opacity: 0.5; /* Ajustez l'opacité selon vos besoins */
            }
            &:focus {
                border-bottom: 10px solid $font-color;
                outline: none;
              }
        }
        .suggestions {
            position: absolute;
            top: 60%;
            left: 0;
            right: 0;
            margin: 30px 50px  ;
            opacity: 0.5;
            padding: 0;
            list-style: none;
            max-width: 350px;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0 4px 6px rgba(7, 7, 7, 0.9);
            max-height: 250px;
            overflow-y: hidden;
            z-index: 1000;
          }
          
          .suggestions li {
            padding: 10px;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: bold;
            border-bottom: 1px solid #4a3e3e;
            color: #333;
            &:hover {
              background-color: #ea0f0f;
            }
          }
          
          
          
        .searchButton {
            border: 1px solid $font-color;
            border-radius: calc(#{$border-radius} *8);
            background-color: $color-primary;
            color: $font-color;
            padding: 0.1rem 2rem;
            cursor: pointer;
            margin-left: 10px;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    

    .showMore {
        width: 200px;
        text-align: center;
        margin: 20px auto;
        background-color: $color-primary;
        padding: 0.5rem 2rem;
        border-radius: $border-radius;
        cursor: pointer;
        font-size: 1.2rem;
        color: $font-color;
    }
    .pokemonContainer {
        display: flex;
        flex-direction: column;
        .pokedexGrid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
            gap: 20px;
            padding: 20px;
            justify-content: center;
            align-items: center;
           
        }
        .pokemonCart {
            position: relative;
            background-color: $background-color-secondary;
            border-radius: $border-radius;
            padding: 1rem;
            cursor: pointer;
            transition: transform 0.3s;
            display: flex ;
            flex-direction: column;
            align-items: center;
            &:hover {
                transform: translateY(-10px);
            }
            img {
                width: 200px;
                height: 200px;
            }
            h3 {
                font-size: 1.5rem;
                font-weight: bold;
                margin-top: 10px;
            }
            .pokemonType {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                gap: 10px;
                
                .type {
                    padding: 0.5rem;
                    margin: 0.5rem;
                    border-radius: $border-radius;
                    width: 100px;
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
            .pokemonId {
                margin-top: 10px;
            }
            
        }
        
    }
   
}

.modalPokemon {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .pokemonCenter {
        position: relative;
        min-width: 500px;
        height: fit-content;
        background-color: $background-color-secondary;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        align-items: center;
        svg{
           width: 100%;
        }
        .hp{
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            background: #fff;
            padding: 5px 10px;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            color: #000;
            margin: 20px;
            .nameHp{
                font-size: 1rem;
                font-weight: bold;
            }
            .valueHp{
                font-size: 1.5rem;
                font-weight: bold;
            }
            p{
                margin-right: 10px;
            }
        }
        .pokemonCenterCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: $border-radius;
            padding: 1rem;
            margin-bottom: 1rem;
            .name{
                font-size: 1rem;
                font-weight: bold;
                margin-top: 10px;
                span{
                    font-size: 1.3rem;
                    font-weight: bolder;
                    opacity: 0.5;
                }
            }
            .navigation-version{
                display: flex;
                border-radius: $border-radius;
                .navigation-button{
                    margin: 0 auto;
                    cursor: pointer;
                    .arrow{
                        width: 10px;
                        height: 10px;
                        background-color: $font-color;
                        border-radius: 50%;
                        margin: 5px;
                    }
                    .arrow.active{
                        background-color: $color-primary;
                    }
                }
            }
            .pokemonType {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                
                .type {
                    padding: 0.5rem;
                    margin: 0.5rem;
                    border-radius: $border-radius;
                    width: 100px;
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
            img {
                width: 200px;
                height: 200px;
                
            }
            h3 {
                font-size: 1.5rem;
                font-weight: bold;
                margin-top: 10px;
            }
        }
        .stats {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            margin: 20px;
            p{
                font-size: 1.5rem;
                font-weight: bold;
            }
            h4{
                font-size: 1.2rem;
                font-weight: bold;
                color: $font-color;
                opacity: 0.5; 
            }
            
        }
        .FichePokemon{
            width: 200px;
            text-align: center;
            margin: 20px auto;
            background-color: $color-primary;
            padding: 0.5rem 2rem;
            border-radius: $border-radius;
            cursor: pointer;
            font-size: 1.2rem;
            color: $font-color;
        }
    }
}

@media screen and (max-width: 768px) {
    .containerPokedex {
        .head {
            flex-direction: column;
            h1 {
                font-size: 1.9rem;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 15px;
                    bottom: 0;
                    opacity: 0.7;
                    background-color: $color-primary ;
                    z-index: -1;
                }
            }
        }
        .pokemonContainer {
            .pokedexGrid {
                grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
            }
            .pokemonCart {
                img {
                    width: 150px;
                    height: 150px;
                }
                h3 {
                    font-size: 1.2rem;
                }
                .pokemonType {
                    .type {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    
}